# Copia este archivo, renómbralo a .env y completa tus datos.
# El archivo .env NO se sube a GitHub (está en .gitignore).

SECRET_KEY=pega-aqui-una-clave-larga-y-secreta
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgresql://postgres.xxxxxxxx:TU_CLAVE@aws-0-sa-east-1.pooler.supabase.com:5432/postgres
OMDB_API_KEY=tu-clave-de-omdb
